.slick-next {
    
    height: 40px; 
    border-radius: 50%; 
    padding-left: 10px;
  }
  
  .slick-next::before {
    color: white;
    opacity: 1;
    margin-left: 25px;
  }
  .slick-prev {
    margin-left: 5px; 
  }